@import "../../styles/_colors";
@import "../../styles/_utils";

.instafeed {
  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 800px;
    margin: 0 auto;
    overflow-y: scroll;
    width: rem-calc(960);
  }

  &__post {
    width: rem-calc(240); /* Or whatever */
    height: rem-calc(240); /* Or whatever */
  }

  &__image {
    margin-bottom: 0;
  }
}
