$fuzzywuzzy-dark: #c0555d;
$fuzzywuzzy-light: #d46268;
$desert-sand: #ecc9ae;
$karry: #ffe1c0;
$floral-white: #fff8f1;
$hint-of-red: #f9f9fa;
$white-lilac: #e6e7e8;
$lily-white: #e9eded;
$white: #ffffff;
$gray: #a7a9ac;
$charcoal: #414042;
$black: #231f20;
